<a href="https://colab.research.google.com/github/SurajSaithwar/Python_Practice/blob/main/List__Tuple_DictionaryandSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**WAP to ask a user to enter name of their 3 favourite movies and store them in a list**

In [ ]:
a=input("enter first movie : ")
b=input("enter second movie : ")
c=input("enter third movie : ")
list=[a,b,c]
print(list)

**WAP to check if list contains  palindrome of elements**

In [ ]:
a=[1,2,3]
b=a.copy()
b.reverse()
if a==b:
  print("palindrome")
else:
  print("not palindrome")

**WAP to count the number of students with the "A" grade in the following tuple?**

In [ ]:
tup=("C","D","A","A","B","B","A","D","A")
print(tup)
tup.count("A")

**Store the Above values in a list and sort them from "A" to "D"?**

In [ ]:
lst=["C","D","A","A","B","B","A","D","A"]
lst.sort()
print(lst)

**Store following word meanings in a python Dictionary:**

In [ ]:
dict={"table":["a piece of furniture","List of facts and figures"],
      "cat":"a small animal"}
print(dict)

In [ ]:
dict.values()

In [ ]:
dict.keys()

In [ ]:
#You are given a list of subjects for students.Assume one classroom is required for 1 subject. How many classrooms are required for all students

lst=["Python","Java","C++","Python","Javascripts","Java","Python","Java","C++","C"]
print(lst)

In [ ]:
a=set(lst)
print(a)
ClassroomCount=len(a)
print(ClassroomCount, "Classrooms are needed by the Students")

**WAP to enter marks of 3 students from the user and store them in a dictionary. Start with an empty dictionary and add one by one. Use subject name as Key and Marks as Value.**

In [ ]:
mark1=int(input("Enter the marks : "))
mark2=int(input("Enter the marks : "))
mark3=int(input("Enter the marks : "))
dict ={}
dict["Maths"]=mark1
dict["Science"]=mark2
dict["English"]=mark3
print(dict)

**OR**

In [ ]:
mark1=int(input("Enter the marks of Maths : "))
mark2=int(input("Enter the marks of Physics : "))
mark3=int(input("Enter the marks of Chemistry: "))
dict ={}
dict.update({"Maths":mark1})
dict.update({"Physics":mark2})
dict.update({"Chemistry":mark3})
print(dict)

**Figure out a way to store 9 and 9.0 as seperate values in the set.**

In [ ]:
num={("int",9),("float",9.0)}
print(num)
type(num)

**OR**

In [ ]:
num={9,"9.0"}
print(num)
type(num)