<a href="https://colab.research.google.com/github/SurajSaithwar/Python_Practice/blob/main/Python_Projects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Write a program to input two numbers and Print their sum ?**

In [ ]:
a=int(input("Enter first number : "))
b=int(input("Enter Second number : "))
sum=a+b
print("Sum of two numbers is: 0",sum)

**WAP to input side of Square and print its area ?**

In [ ]:
side=float(input("Enter side of square : "))
area=side*side
print("Area of square is : ",area)

**WAP to input two floating point numbers and print their average ?**

In [ ]:
a=float(input("Enter first number : "))
b=float(input("Enter second number : "))
avg=(a+b)/2
print("Average of two numbers is : ",avg)

**WAP to input 2 int numbers ,a and b and print True if a is greater than or equal to b . If not print False**

In [ ]:
a=int(input("Enter first number : "))
b=int(input("Enter second number : "))
if a>=b:
  print("True")
else:
  print("False")

**WAP to check if a number entered by the user is odd or even?**

In [ ]:
num=int(input("enter the number: "))
if num%2==0:
  print( num, "is even number")
else:
  print(num,"is odd number")

**WAP to find the greatest of 3 number entered by the user?**

In [ ]:
num1=int(input("Enter first number : "))
num2=int(input("Enter second number : "))
num3=int(input("Enter third number : "))
if (num1>num2 and num1>num3):
  print(num1,"is greater")
elif (num2>num1 and num2>num3):
  print(num2,"is greater")
else:
  print(num3,"is greater")

**WAP to check if the number is multiple of 7 or not?**

In [ ]:
num=int(input("Enter the number : "))
if num%7==0:
  print(num,"is multiple of 7")
else:
  print(num,"is not multiple of 7")

**WAP to ask a user to enter name of their 3 favourite movies and store them in a list**

In [ ]:
a=input("enter first movie : ")
b=input("enter second movie : ")
c=input("enter third movie : ")
list=[a,b,c]
print(list)

**WAP to check if list contains  palindrome of elements**

In [ ]:
a=[1,2,3]
b=a.copy()
b.reverse()
if a==b:
  print("palindrome")
else:
  print("not palindrome")

**WAP to count the number of students with the "A" grade in the following tuple?**

In [ ]:
tup=("C","D","A","A","B","B","A","D","A")
print(tup)
tup.count("A")

**Store the Above values in a list and sort them from "A" to "D"?**

In [ ]:
lst=["C","D","A","A","B","B","A","D","A"]
lst.sort()
print(lst)

**Store following word meanings in a python Dictionary:**

**table:"a piece of furniture","list of facts & figures"     cat:"a small animal**

In [ ]:
dict={"table":["a piece of furniture","List of facts and figures"],
      "cat":"a small animal"}
print(dict)

In [ ]:
dict.values()

In [ ]:
dict.keys()

In [ ]:
#You are given a list of subjects for students.Assume one classroom is required for 1 subject. How many classrooms are required for all students

lst=["Python","Java","C++","Python","Javascripts","Java","Python","Java","C++","C"]
print(lst)

In [ ]:
a=set(lst)
print(a)
ClassroomCount=len(a)
print(ClassroomCount, "Classrooms are needed by the Students")

**WAP to enter marks of 3 students from the user and store them in a dictionary. Start with an empty dictionary and add one by one. Use subject name as Key and Marks as Value.**

In [ ]:
mark1=int(input("Enter the marks : "))
mark2=int(input("Enter the marks : "))
mark3=int(input("Enter the marks : "))
dict ={}
dict["Maths"]=mark1
dict["Science"]=mark2
dict["English"]=mark3
print(dict)

***Or***

In [ ]:
mark1=int(input("Enter the marks of Maths : "))
mark2=int(input("Enter the marks of Physics : "))
mark3=int(input("Enter the marks of Chemistry: "))
dict ={}
dict.update({"Maths":mark1})
dict.update({"Physics":mark2})
dict.update({"Chemistry":mark3})
print(dict)

**Figure out a way to store 9 and 9.0 as seperate values in the set.**

In [ ]:
num={("int",9),("float",9.0)}
print(num)
type(num)

**OR**

In [ ]:
num={9,"9.0"}
print(num)
type(num)

**Practice Questions for Loops**

**1.While Loop**

In [ ]:
#Print numbers from 1 to 100.

num=1
while num<=100:
  print(num)
  num+=1

In [ ]:
#Print number from 100 to 1.
num=100
while num>=1:
  print(num)
  num-=1

In [ ]:
#Print the multiplication table of a number n.
n=int(input("Enter the number : "))
i=1
while i<=10:
  print(n,"x",i,"=",n*i)
  i+=1

In [ ]:
#Print the elements of the following list using a loop:
lst=[1,4,9,16,25,36,49,64,81,100]
i=0
while i<=len(lst)-1:
  print(lst[i])
  i+=1

In [ ]:
#Search for a number x in this tuple using loop:
num=int(input("Enter the number you want to found : "))
tup=(1,4,9,16,25,36,49,64,81,100)
i=0
while i<=len(tup)-1:
  if tup[i]==num:
    print(num,"is found at index",i)
  else:
    print("Finding...")
  i+=1

**Meaning of Using the Break Keyword in loops**

* Loop will run until the condition meets and will terminate after that.

In [ ]:
#Break Keywords
i=1
while i<=15:
  print(i)
  if i==8:
    break # on;ly prints the number from 1 to 8
  i+=1
print("End of Loop")

In [ ]:
#Search for a number x in this tuple using loop:
num=int(input("Enter the number you want to found : "))
tup=(1,4,9,16,25,36,49,64,81,100)
i=0
while i<=len(tup)-1:
  if tup[i]==num:
    print(num,"is found at index",i)
    break
  else:
    print("Finding...")
  i+=1
print("End of Loop")

**Meaning of Using the Continue Keyword in loops**

* Loop will terminate only the where condition = True and will continue jumping that.

In [ ]:
#Continue Keywords
i=1
while i<=10:
  if i==5:
    i+=1
    continue # Skip only 5 and loop continues.
  print(i)
  i+=1

** 2.For Loop**

In [ ]:
str="Suraj"
for i in str:
  if i=="r":
    break
  print(i)

In [ ]:
#Print the elements of the following list using For loop:
lst=[1,4,9,16,25,36,49,64,81,100]
for i in lst:
  print(i)

In [ ]:
#Search for a number x in this tuple using loop:
#num=int(input("Enter the number you want to found : "))
tup=(1,4,9,16,25,36,49,64,81,100,49)
x=49
idx = 0
for i in tup:
  if i==x:
    print("Number found at indx", idx)
  idx += 1

In [ ]:
#Print numbers from 1 to 100 using range function
for i in range(1,101):
  print(i)

In [ ]:
#Print numbers from 100 to 1 using range function
for i in range(100,0,-1):
  print(i)

In [ ]:
#Print Multiplication table of a number n using range function.
n=int(input("Enter the nnmber: "))
for i in range(1,11):
  print(n,"x",i,"=",n*i)

**WAP to find the sum of first n number using while loop**

In [ ]:
sum=0
n=int(input("Enter the number upto which you want to sum: "))
i=1
while i<=n:
  sum=sum+i
  i+=1
print("Sum of first",n,"number is: ",sum)

**WAP to find the factorial of first n number using for loop?**

In [ ]:
n=int(input("Enter the number: "))
fact=1
for i in range (1,n+1):
    fact=fact*i
print("Factorial of number ",n,"is",fact)